/* CSS declarations go here */

.lineLoad-enter {
	opacity: 0;
}

.lineLoad-enter.lineLoad-enter-active {
   opacity: 1;
   transition: opacity 1s;
   transition-delay: .5s;
   
}

.lineLoad-leave {
	opacity: 1;
}

.lineLoad-leave.lineLoad-leave-active {
	opacity: 0;
	transition: opacity 1s;
}

@keyframes fadeIn {
	0%{ 
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes fadeOut {
	0%{ 
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

$border-color: #e62222;

.container {
	margin: 0 auto;
	width: 70%;
	border: 1px solid black;
	min-height: 200px;
	text-align: center;
}

.scroll {

	color: $border-color;
	padding: 20px;
	max-height: 150px;
}


.buffer {
	min-height: 20px;
	height: 20px;
}