/* CSS declarations go here */
.lineLoad-enter {
   animation: fadeIn 1s;
}

.lineLoad-leave {
	animation: fadeOut 1s;
}

@keyframes fadeIn {
	0%{ 
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes fadeOut {
	0%{ 
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

.container {
	margin: 0 auto;
	width: 70%;
	border: 1px solid black;
	height: 200px;
	text-align: center;
}